/backend/node_modules
/backend/.env
/backend/build

/frontend/node_modules
/frontend/.env
/frontend/build
/randpm.tsx


/server/node_modules
/server/.env
/server/build


/random.user.js
/random.user.ts

